.item {
    position: absolute;
    height: 40px;
    width: 40px;
    border: 1px solid #1eca55;
}

/* .jtk-endpoint circle{
    fill: transparent;
} */

/* jtk-endpoint:hover circle{
    fill: unset;
} */

/* .item:hover {
    border: 3px solid yellow;
}

.item:hover .jtk-endpoint {
    display: none;
} */

.end_point_hover {
    border: 3px solid yellow;
}
.jtk-endpoint {
    top: -10px;
}

.element_startWay {
    width: 120px;
    height: 60px;
    text-align: center;
    margin: auto;
    border-radius: 16px;
}

.element_page {
    width: 100px;
    height: 140px;
    text-align: center;
    margin: auto;
    /* border-top-right-radius: 16px; */
    background: linear-gradient(-135deg,#58a 0, transparent 10px);
}